.tw-main {
    background: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.tw-main-inner {
    background: #fff;
    min-height: 300px;
    border: 1px solid #666;
}

.tw-main-header {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.tw-sub-header {
    padding: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}